
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,rgb(20,147, 220), rgb(17, 54, 71));
    

}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 17px;
    border-radius: 15px;
    width: 25%;
    color: white;
    
}

fieldset{
    border: 3px solid dodgerblue;
}

legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 9px;
    

}

.inputBox{
    position: relative;
}

.inputUser{
    margin-top: 20px;
    background:none;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 20px;
    width: 100%;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: aliceblue;
}

.labelInput{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.submit{
    background-image: linear-gradient(to right, rgb(0,92, 197), rgb(90, 17, 224));
    width: 100%;
    border: none;
    padding: 16px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.submit:hover{
    background-image:linear-gradient(to right, rgb(17, 114, 225), rgb(68, 6, 185));
}


